<!-- Main content container with scrolling enabled -->
<div id="setup-container" class="container mt-5">
  <div id="theme" class="text-center mb-4">
    <h2 class="h4 mb-3">Quel thème vous intéresse ?</h2>
    <label onclick="$(this).children()[0].click()" class="d-inline-block position-relative bg-secondary">
      <select id="theme-select" class="form-select d-inline-block w-auto bg-secondary">
        <% @themes.each do |theme| %>
          <option value="<%= theme.id %>"><%= theme.name %></option>
        <% end %>
      </select>
    </label>
  </div>
  <div id="form" class="text-center mb-4">
    <h2 class="h4 mb-3 d-flex justify-content-between align-items-center">Qui joue aujourd'hui ?
      <button class="btn btn-primary" type="button" onclick="addPlayerSlot()">
        <i class="fas fa-plus"></i> Ajouter joueur
      </button>
    </h2><br />
    <div id="form-grid" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col position-relative">
        <div class="position-relative">
          <input type="text" class="form-control pr-4" value="Paul" />
          <button type="button" class="btn-close btn-remove-player" aria-label="Close" onclick="removePlayerSlot(this)"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-4">
    <button id="start" class="btn btn-primary" onclick="initGame()">Lancer le jeu <i class="fas fa-play"></i></button>
  </div>
</div>
<div id="game-container" style="display: none;height:80%" class="container-fluid flex-column align-items-center justify-content-center">
  <div id="game" style="display: none;" class="flex-column align-items-center justify-content-center w-100 h-100" onclick="updateGame()">
    <div id="event" class="fs-2 text-break"></div>
  </div>
  <div id="end" style="display: none;" class="flex-column align-items-center justify-content-center w-100 h-100"  onclick="$(this).css('display','none');$('#game-container').css('display','none'); $('#setup-container').css('display','block')">
    <h2 class="fs-2 text-break">Merci d'avoir jouer!</h2>
  </div>
</div>
