$background: #124559;
$primary: #8F3985;
$secondary: #519E8A;
$tertiary: #837569;
$white: #EEF4ED;

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* Forcing landscape mode */
@media screen and (orientation:portrait) {
  #force-landscape {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $background;
    z-index: 2;
    text-align: center;
  }
}

@media screen and (orientation:landscape) {
  #force-landscape {
    display: none;
  }
}

#refresh-arrows {
  font-size: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0.5
}

.refresh-arrows-wrapper {
  font-size: 10rem;
}

.slow-spin {
  animation: slow-spin 5s infinite;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Application layout*/

body {
  color: $white;
  background-color: $background;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Sugarpunch DEMO', sans-serif;
}

.background-icons {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  font-size: 10rem;
  opacity: 0.2;
}

.rotate {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  padding-top: 1rem;
  background-color: $secondary;
  opacity: 0.5;
  text-align: center;
  cursor: pointer;
}

/* Titles */
h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

/* Game preparation */

#theme {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#theme h2 {
  margin-top: 1rem;
}

#theme label {
  height: 100%;
  padding: 0.5rem;
  border: 0.5px solid $white;
  border-radius: 1rem;
  background-color: $secondary;
  cursor: pointer;
}

#theme select {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  color: $white;
  background-color: $secondary;
  font-family: 'Sugarpunch DEMO', sans-serif;
  appearance: none;
  cursor: pointer;
}

#form {
  text-align: center;
  margin-bottom: 2rem;
}

#form-grid {
  width: 60%;
  margin: auto;
  padding: 0.5rem;
  background-color: $tertiary;
  border: 0.5px solid $white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#form-grid>.grid-item:nth-child(even) {
  border-left: 0.5px solid $white;
}

#form-grid>.grid-item {
  margin: 0.5rem;
  padding-top: 0.5rem;
  font-size: x-large;
  color: black;
  background-color: beige;
  background-blend-mode: darken;
  font-family: 'Sugarpunch DEMO', sans-serif;
  text-align: center;
}

#form-grid>.grid-item:focus {
  outline: none !important;
  border-color: $secondary;
  box-shadow: 0 0 10px $secondary;
}

#start {
  text-align: center;
  font-size: 2rem;
  color: $white;
  background-color: $secondary;
  border: 0.5px solid $white;
  border-radius: 1rem;
  font-family: 'Sugarpunch DEMO', sans-serif;
  width: 50%;
  margin: auto;
  padding-top: 0.5rem;
  cursor: pointer;
}

/* Game cloud */

#game {
  display: none;
}

#question {
  font-family: 'Sugarpunch DEMO', sans-serif;
  color: $primary;
  background-color: $white;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  font-size: 3rem;
  padding: 4rem;
  text-align: center;
}