$background: #124559;
$primary: #8F3985;
$secondary: #519E8A;
$tertiary: #837569;
$white: #EEF4ED;


@import "bootstrap";


/* Forcing landscape mode */
@media screen and (orientation:portrait) {
  #force-landscape {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $background;
    z-index: 2;
    text-align: center;
  }
}

@media screen and (orientation:landscape) {
  #force-landscape {
    display: none;
  }
}

#refresh-arrows {
  font-size: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0.5
}

.refresh-arrows-wrapper {
  font-size: 10rem;
}

.slow-spin {
  animation: slow-spin 5s infinite;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Application layout*/

body {
  color: $white;
  background-color: $background;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Sugarpunch DEMO', sans-serif;
}

.background-icons {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  font-size: 10rem;
  opacity: 0.2;
}

.rotate {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Titles */

/* Game preparation */

/* Game cloud */

#game {
  display: none;
}

/* End screen */
#end {
  display: none;
}

/* Footer styling */
footer {
  background-color:$secondary; /* Purple background color */
  padding: 20px 0; /* Add some padding for better spacing */
}

footer a {
  color: #EEF4ED; /* White color for links */
  text-decoration: none; /* Remove underline from links */
}

footer a:hover {
  text-decoration: underline; /* Underline links on hover */
}
